<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddProduct">
  Add Product
</button>
<br>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Code</th>
      <th scope="col"><button class="btn btn-danger">Delete</button></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of prod">
      <!-- <th scope="row">1</th> -->
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.code}}</td>
      <td><input type="checkbox"/></td>
    </tr>
    
  </tbody>
</table>
<add-product></add-product>
